
.queue-card-deck, .element-card-deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.queue-card, .element-card {
    flex: 1;
    color: black;
}

.queue-card {
    padding: 1%;
    margin: 2%;

    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(78, 72, 72, 0.05);
    transition: .3s transform cubic-bezier(.155, 1.105,.295,1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.queue-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.element-card, .subscriber-card {
    padding: 1px; 
    margin: 3px;

    cursor: default;
}

.queue-state-container {
    margin: 1% 10% 1% 10%;
    border-radius: 25px;
    background-color: rgb(190, 209, 243);
    padding: 2%;
}

.queue-state-container h3 {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: cornflowerblue;
}

.brand {
    color: whitesmoke !important;
    font-weight: bold;
    padding-left: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.queue-form, .message-form {
    margin: 2% 30% 2% 30%;
}

body {
    background-color: rgb(158, 183, 231);
}

a {
    text-decoration: none;
}